.container {
  @apply flex flex-col w-full;
}

.label {
  @apply text-base text-warm-gray block;
}

.textArea {
  @apply border border-solid box-border border-gray-300 w-full text-base p-2 outline-none transition-all duration-300 rounded-md;
  @apply focus:border-steel-blue focus:shadow-steel-blue placeholder-warm-gray-light;
}

.textAreaResize {
  @apply resize;
}

.textContainer {
  @apply flex w-full justify-between;
}

.lengthText {
  @apply text-sm;
  line-height: 1.5rem;
}

.error {
  @apply border-error outline-none focus:shadow-error;
}

.errorContainer {
  margin-top: 6px;
  min-height: 22px;
}

.errorText {
  @apply text-sm text-error flex flex-row-reverse;
}

.disabled {
  @apply cursor-not-allowed text-disabled shadow-none bg-disabled-light border-disabled-light;
}

.success {
  @apply border-success outline-none focus:shadow-success;
}
